{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'tnd_api_rating_list' %}">Rating Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>name</td>
    <td>slug</td>
    <td>created</td>
    <td>last_updated</td>
    <td>rating_val</td>
    <td>adjective</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.name }}</td>
    <td>{{ object.slug }}</td>
    <td>{{ object.created }}</td>
    <td>{{ object.last_updated }}</td>
    <td>{{ object.rating_val }}</td>
    <td>{{ object.adjective }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'tnd_api_rating_create' %}">Create new Rating</a>
{% endblock %}